<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>영화 리뷰 올리기</title>
  </head>
  <body>
    <form action="{% url 'posts:create' %}" method="post">
      {% csrf_token %}
      <h2>
        <input type="text" name="title" placeholder="제목" />
      </h2>
      <p>
        <input type="text" name="director" placeholder="감독" />
        <input type="text" name="main" placeholder="주연" />
        <input type="number" name="years" placeholder="개봉 년도" />
      </p>
      <p>
        <input type="text" name="genre" placeholder="장르" />
        <input type="number" step="0.01" name="starRating" placeholder="별점" />
        <input type="number" name="runningTime" placeholder="러닝타임" />
      </p>
      <textarea name="reviews" id="" cols="50" rows="10"></textarea>
      <div>
        <input type="submit" value="저장" />
      </div>
    </form>
  </body>
</html>
