<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>홈 화면</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'posts:create' %}">리뷰 작성</a>
    </nav>
    {% for movie in movies %}
    <article>
      <h1>
        <a href="{% url 'posts:detail' movie.id %}">{{movie.title}}</a>
      </h1>
      <p>{{movie.years}}</p>
      <p>{{movie.genre}}</p>
      <p>{{movie.starRating}}</p>
    </article>
    {% endfor %}
  </body>
</html>
