<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <title>개발툴 관리</title>
  </head>
  <body>
    <nav>
      <a href="">My SW Idea Manage</a>
      <a href="{% url 'sites:ideacreate' %}">아이디어 등록</a>
      <a href="{% url 'sites:main' %}">아이디어 관리</a>
      <a href="{% url 'sites:devtcreate' %}">개별툴 등록</a>
      <a href="{% url 'sites:devtlist' %}">개별툴 관리</a>
    </nav>
    <main>
      <div>
        <div>
          <span>DevTool List</span>
          <p>
            개발툴 목록 페이지입니다. 자신이 사용가능한 개발들의 목록을 확인해
            보세요.
          </p>
        </div>
        {% for devtool in devtools %}
        <div>
          <a href="{% url 'sites:devtdetail' devtool.id%}">{{devtool.name}}</a>
          <span>{{devtool.kind}}</span>
          <span>{{devtool.content}}</span>
        </div>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
