<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>개발툴 수정</title>
  </head>
  <body>
    <nav>
      <a href="">My SW Idea Manage</a>
      <a href="{% url 'sites:ideacreate' %}">아이디어 등록</a>
      <a href="{% url 'sites:main' %}">아이디어 관리</a>
      <a href="{% url 'sites:devtcreate' %}">개별툴 등록</a>
      <a href="{% url 'sites:devtlist' %}">개별툴 관리</a>
    </nav>
    <form
      action="{% url 'sites:devtupdate' devtool.id%}"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <h2>
        이름:
        <input type="text" name="name" value="{{devtool.name}}" />
      </h2>
      <p>
        종류:
        <input type="text" name="kind" value="{{devtool.kind}}" />
      </p>
      <p>
        개발툴 설명:
        <textarea name="content" id="" cols="30" rows="10">
{{devtool.content}}</textarea
        >
      </p>
      <div>
        <input type="submit" value="SUBMIT" />
      </div>
    </form>
  </body>
</html>
