<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>아이디어 수정</title>
  </head>
  <body><nav>
    <a href="">My SW Idea Manage</a>
    <a href="{% url 'sites:ideacreate' %}">아이디어 등록</a>
    <a href="{% url 'sites:main' %}">아이디어 관리</a>
    <a href="{% url 'sites:devtcreate' %}">개별툴 등록</a>
    <a href="{% url 'sites:devtlist' %}">개별툴 관리</a>
  </nav>
  <form
    action="{% url 'sites:ideaupdate' idea.id%}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <h2>
      아이디어 명:
      <input type="text" name="title" value="{{idea.title}}"/>
    </h2>
    <p>
      Image:
    </p>
    <p>Currently: {{idea.image.url}}
      <input type="checkbox" name="clear" value="clear" id="clear"><label for="clear">clear</label></p>
    <p>
    <p>Change:
        <input type="file" name="image"/>
    </p>
    <p>
      아이디어 설명:
      <textarea name="content" id="" cols="30" rows="10">{{idea.content}}</textarea>
    </p>
    <p>
      아이디어 관심도:
      <input type="number" name="interest" value ="{{idea.interest}}"/>
    </p>
    <p>
      예상 개발툴:
      <select name="devtool">
        <option value="{{devt_name}}">{{devt_name}}</option>
        {% for devtool in devtools %}
        {% if devtool.name != devt_name %}
        <option value="{{devtool.name}}">{{devtool.name}}</option></p>
        {% endif %}
        {% endfor %}
      </select>
    </p>

    <div>
      <input type="submit" value="SUBMIT" />
    </div>
  </form></body>
</html>
