<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>아이디어 사이트</title>
  </head>
  <body>
    <nav>
      <a href="">My SW Idea Manage</a>
      <a href="">아이디어 등록</a>
      <a href="">아이디어 관리</a>
      <a href="">개별툴 등록</a>
      <a href="">개별툴 관리</a>
    </nav>
    <main>
      <div>
        <div>
          <span>Idea List</span>
          <p>나의 아이디어를 잊지 말고 기록해보세요</p>
        </div>
      </div>
    </main>
  </body>
</html>
