* {
  box-sizing: border-box;
}

/* 선택자(selector) */
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
#header-center {
  margin: 0 auto;
  width: 1080px;
}

#header-search a {
  text-decoration: none;
}
#header-search h1 {
  display: inline-block;
  width: 222px;
  height: 52px;
  background: url(./sp_main.png) -152px -355px no-repeat;
  vertical-align: middle;
  /* background-image: url(./sp_main.png);
  background-position: -4px -10px;
  background-repeat: no-repeat; */
}

#header-search h1 span {
  display: none;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  /* padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 0; */
  padding: 12px 0 12px 10px;
  display: inline-block;
  width: 474px;
  height: 50px;
  border: 2px solid #03cf5d;
  vertical-align: middle;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
}

#header-search fieldset button {
  width: 56px;
  height: 56px;
  border: none;
  padding: 0;
  background: #03cf5d;
}

#search-image {
  background-image: url(./sp_main.png);
  background-position: -832px 8px;
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
  margin: 0;
  display: inline-block;
}
