* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Dotum, "돋움", Helvetica, "Apple SD Gothic Neo", sans-serif;
}

#fixed {
  position: fixed;
  top: 50px;
  left: 50px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
}
/* 선택자(selector) */
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
.relative {
  position: relative;
}
.center-align {
  margin: 0 auto;
  width: 1080px;
  border-top: 1px solid #f1f3f6;
  border-bottom: 1px solid #d1d8e4;
}
header {
  height: 170px;
}
#header-top {
  float: right;
  margin-top: 8px;
}

#header-top span {
  color: #888;
  letter-spacing: -1px;
  font-size: 11px;
  line-height: 22px;
}

#header-search {
  clear: both;
  padding-top: 20px;
}
#header-search a {
  text-decoration: none;
}
#header-search h1 {
  display: inline-block;
  width: 222px;
  height: 52px;
  background: url(./sp_main.png) 2px -160px no-repeat;
  background-size: 457px 434px;
  vertical-align: middle;
  position: relative;
  top: -5px;
  left: 1px;
  /* background-image: url(./sp_main.png);
  background-position: -4px -10px;
  background-repeat: no-repeat; */
}

#header-search h1 span {
  display: none;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 18px;
  /* padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 0; */
  padding: 12px 0 12px 10px;
  display: inline-block;
  width: 474px;
  height: 50px;
  border: 2px solid #03cf5d;
  vertical-align: middle;
  position: relative;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
  width: 444px;
  height: 24px;
  vertical-align: top;
}

#header-search fieldset button {
  width: 50px;
  height: 50px;
  border: none;
  padding: 0;
  background: #03cf5d;
  position: absolute;
  right: -2px;
  top: -2px;
}

#search-keyboard {
  position: relative;
  top: 50%;
  right: 17%;
  background-image: url(./sp_main.png);
  background-size: 457px 434px;
  background-repeat: no-repeat;
  background-position: -206px -389px;
  width: 20px;
  height: 12px;
  display: inline-block;
  vertical-align: top;
  margin: -6px 0 0 -10px;
}

#search-history {
  position: relative;
  bottom: 110%;
  left: 84.5%;
  background-image: url(./sp_main.png);
  background-size: 457px 434px;
  background-repeat: no-repeat;
  background-position: -406px -55px;
  width: 10px;
  height: 5px;
  display: inline-block;
}
#search-image {
  background-image: url(./sp_main.png);
  background-size: 457px 434px;
  background-position: -420px 0px;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  margin: 0;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%, -50%); */
  display: inline-block;
}

.ico_mail {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url(./sp_main.png) -420px -73px no-repeat;
  vertical-align: top;
  margin: 3px 9px 0 0;
  background-size: 457px 434px;
}

.shop {
  margin: -3px 0;
  width: 24px;
  height: 20px;
  background: url(./sp_main.png) -202px -298px no-repeat;
  display: block;
  background-size: 457px 434px;
}
.shoplive {
  margin: -5gpx 0;
  width: 54px;
  height: 20px;
  background: url(./sp_main.png) -202px -300px no-repeat;
  display: block;
  background-size: 457px 434px;
}
.nav {
  color: #03cf5d;
}
nav ul {
  display: inline-block;
  margin: 0;
  padding: 16px 0 0 4px;
  list-style: none;
}
nav li {
  display: inline-block;
}

nav li a {
  text-decoration: none;
}

.nav-divider {
  display: inline-block;
  margin: 18px 16px 0;
  width: 1px;
  height: 14px;
  background: #ebeef3;
}

#search-ranking {
  float: right;
}

#rank-number {
  margin-top: -9px;
  color: #00ab33;
  font-size: 16px;
}
